/**
 * Components
 * --------------------------------------------------
 */

// HEAD
.c-freelancer-photo{
  @include circle(150px);
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.c-freelancer-info{
  text-align: center;

  &_name{
    font-size: 60px;
  }

  &_job{
    font-size: 30px;
  }
}

.c-btn-linkedin{
  border: 1px solid white;
  border-radius: 4px;
  padding: 20px 40px;

  color: white;
  text-transform: uppercase;
  font-size: 18px;
}

// MAIN
.c-tecnologias-logos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  img{
    margin: 15px;
    padding: 10px;
    width: 200px;

    align-self: center;
  }
}

// FOOTER
.c-link-whatsapp{
  cursor: text;
}

