/**
 * Layout
 * --------------------------------------------------
 */

.l-header,
.l-main,
.l-footer{
  padding: 13px;
}

.l-header{
  @include flex-centralize;
}

.l-main,
.l-footer{
  margin: 0 auto;
  max-width: 1000px;
}
