/**
 * Layout
 * --------------------------------------------------
 */

// Conteúdo
.l-section{
  padding: 60px 0;

  clear: both;
}

.l-footer{
  padding: 0 $distance-min-lateral;
}

// Ações
.l-centralize{
  margin: 0 auto;
  max-width: 1200px;
}
