/**
 * Layout
 * --------------------------------------------------
 */

// Conteúdo
.l-header,
.l-footer{
  padding: 13px;
}

.l-header{
  @include flex-centralize;
}


.l-section{
  padding-top: 150px;
}

// Ações
.l-centralize{
  margin: 0 auto;
  max-width: 1000px;
}
