/**
 * Scaffold
 * --------------------------------------------------
 */

html {
  color: #222;
}

html,body{
  font-size: 62.5%;
}

a{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

figure{
  margin: 0;
}

h1,h2,h3,p{
  margin: 0;
}

h1,h2,h3{
  font-family: $font-stack-primary;
  font-weight: normal;
}

ul,a,img,p{
  font-family: $font-stack-secundary;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}
