/**
 * Scaffold
 * --------------------------------------------------
 */

a{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

figure{
  margin: 0;
}

h1,h2,h3{
  margin: 0;
}
