/**
 * Theme
 * --------------------------------------------------
 */

.th-header{
  background-color: map-get($colors, dark);
  color: white;
}

.th-section-title{
  text-align: center;
  text-transform: uppercase;
}
