/**
 * Theme
 * --------------------------------------------------
 */

.th-header{
  background-color: #1d809f;
}

.th-section-title{
  margin-bottom: 75px;

  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
