/**
 * Bars Components
 * --------------------------------------------------
 */

.c-bar-main-title{
  margin: 0 auto 30px;
  height: 10px;
  width: 70%;

  background-color: #52edc7;
}

.c-bar-section-title{
  margin: 0 auto 80px;
  height: 10px;
  width: 100px;

  background-color: #999;
}
