/**
 * Bars Components
 * --------------------------------------------------
 */

.c-bar-main-title{
  height: 10px;
  margin-bottom: 20px;
  width: 295px;

  background-color: #f26424;
}

.c-bar-section-title{
  margin: 0 auto 60px;
  height: 10px;
  width: 100px;

  background-color: #f26424;
}
