/**
 * Buttons Components
 * --------------------------------------------------
 */

$btn-height: 48px;

.c-btn{
  border-radius: 4px;
  height: $btn-height;

  display: block;

  font-size: 20px;
  font-weight: bold;
  line-height: $btn-height;

  transition: background-color .15s ease-in-out;
}

.c-btn-icon{
  background-repeat:no-repeat;
  text-indent: 50px;
}

// Linkedin
// ***************************************************
.c-btn-linkedin{
  $background-color: #007bb6;
  width: 150px;

  color: #fff;
  background-color: $background-color;

  &:hover{
    background-color: darken($background-color, 5%);
  }
}

.c-btn-icon-linkedin{
  background-image: url("../images/figures-svg.svg#logo-linkedin");
  background-position-y: -3px;
}

// Github
// ***************************************************
.c-btn-github{
  $background-color: #ccc;
  width: 150px;

  color: #000;
  background-color: $background-color;

  &:hover{
    background-color: darken($background-color, 5%);
  }
}

.c-btn-icon-github{
  background-image: url("../images/figures-svg.svg#logo-git-hub--black");
}

// Whatsapp
// ***************************************************
.c-btn-whatsapp{
  $background-color: #25D366;
  padding: 0 15px;

  color: #fff;
  text-align: center;
  background-color: $background-color;

  &:hover{
    background-color: darken($background-color, 5%);
  }
}
