/**
 * Buttons Components
 * --------------------------------------------------
 */

.c-btn{
  border-radius: 4px;
  height: 48px;
  padding: 0 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
  transition: background-color .15s ease-in-out;

  &.c-btn--circle{
    border-radius: 50%;
    padding: 0;
    height: 64px;
    width: 64px;

    justify-content: center;
  }
}

.c-btn-icon{
  svg{
    height: 30px;
    width: 30px;
  }
}

.c-btn-icon-text{
  font-size: 20px;
  font-weight: bold;
}

// Linkedin
// ***************************************************
.c-btn-linkedin{
  $background-color: #007bb6;

  color: #fff;
  background-color: $background-color;

  &:hover{
    background-color: darken($background-color, 5%);
  }
}

// Github
// ***************************************************
.c-btn-github{
  $background-color: #ccc;

  color: #000;
  background-color: $background-color;

  &:hover{
    background-color: darken($background-color, 5%);
  }
}

// Whatsapp
// ***************************************************
.c-btn-whatsapp{
  $background-color: #25D366;
  padding: 0 15px;

  color: #fff;
  text-align: center;
  background-color: $background-color;

  &:hover{
    background-color: darken($background-color, 5%);
  }
}
