/**
 * Buttons Components
 * --------------------------------------------------
 */

$btn-height: 48px;

.c-btn{
  border-radius: 4px;
  height: $btn-height;
  width: 150px;

  display: block;

  font-size: 20px;

  transition: background-color .15s ease-in-out;
}

.c-btn-icon{
  background-repeat:no-repeat;
  text-indent: 50px;
  line-height: $btn-height;
}

// Linkedin
// ***************************************************
.c-btn-linkedin{
  $background-color: #fff;

  border: 2px solid #0077b5;

  color: #0077b5;
  background-color: $background-color;
  font-weight: bold;

  &:hover{
    background-color: darken($background-color, 5%);
  }
}

.c-btn-icon-linkedin{
  background-image: url("../images/figures-svg.svg#logo-linkedin");
  background-position-y: -3px;
}
