/**
 * Community Components
 * --------------------------------------------------
 */

.c-community{
  display: flex;
  justify-content: center;
}

.c-community-webdebgroup{
  width: 320px;

  display: block;

  img{
    width: 100%;
  }
}
