/**
 * Contacts Components
 * --------------------------------------------------
 */

.c-contact{
  display: block;
}

.c-contact-whatsapp{
  cursor: text;
}

.c-contact-whatsapp_icon{
  height: 20px;
  width: 20px;

  fill: #008000;
}

.c-contact-address_icon,
.c-contact-email_icon{
  @include fa-icon;
  @extend .fas;
}

.c-contact-address_icon{
  color: black;

  &:before {
    content: fa-content($fa-var-map-marker-alt);
  }
}

.c-contact-email_icon{
  color: black;

  &:before {
    content: fa-content($fa-var-at);
  }
}
