/**************************\
  Portfólio Modal Styles
\**************************/
.portmodal__overlay{
  padding: 16px 0;
}

.portmodal__container{
  background-color: #fff;
  height: 100%;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
  width: 100%;

  @include for-tablet-portrait-up{
    margin: 16px 32px;
  }
}

.portmodal__close{
  &:before {
    content: "\2715";
  }

  border: 0;
  font-size: 78px;;
  background: transparent;
  color: #ababab;
}

.portmodal__top{
  display: flex;
  justify-content: flex-end;
  padding: 20px 30px;
}

.portmodal__header{
  margin-bottom: 40px;
}

.portmodal__title{
  margin-bottom: 25px;
  padding: 0 30px;

  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 44px;
}

.portmodal__subtitle{
  text-align: center;
}

.portmodal__video{
  margin: 0 auto;
  display: block;
  height: 640px;
  width: 320px;
}

// Descrição
.portmodal-desc{
  padding: 0 30px;

  @include for-tablet-landscape-up{
    padding: 0;
  }
}

.portmodal-desc-section{
  border-bottom: 1px solid #ECF0F1;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.portmodal-desc_icon{
  margin-right: 7px;
  height: 14px;
  width: 14px;
}

.portmodal-desc_title-wrap{
  display: flex;
  margin-bottom: 5px;
}

.portmodal-desc_title{
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  font-weight:bold;
}

.portmodal-desc_text{
  color: #aaa;
  font-size: 15px;
}

.portmodal_features{
  margin-bottom: 30px;
  border-bottom: 1px solid #ECF0F1;

  ul {
    padding-bottom: 20px;
  }

  li{
    display: flex;
    align-items: center;
  }

  p{
    font-size: 14px;
    font-weight: bold;
  }
}

// Botões
.portmodal-btn-wrap{
  margin-bottom: 90px;
  padding-left: 30px;

  display: flex;
}

.portmodal-btn{
  &.c-btn-android{
    margin-right: 15px;
    width: 110px;
  }
  &.c-btn-system{
    width: 95px;
  }
  &.c-btn-close{
    margin: 70px auto 30px;
    width: 85px;
    clear: left;
  }
}
