/**
 * Offers Components
 * --------------------------------------------------
 */

.c-offers{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.c-offer{
  margin: 30px;
}

.c-offer_icon-wrap{
  color: map_get($colors, dark);
  font-size: 40px;
  text-align: center;
}

.c-offer_icon{
  @include fa-icon;
  @extend .fas;
}

.c-offer_icon--attendance{
  &:before {
    content: fa-content($fa-var-users);
  }
}

.c-offer_icon--availability{
  &:before {
    content: fa-content($fa-var-comments);
  }
}

.c-offer_icon--delivery{
  &:before {
    content: fa-content($fa-var-tasks);
  }
}

.c-offer_icon--exclusivity{
  &:before {
    content: fa-content($fa-var-crosshairs);
  }
}

.c-offer_icon--experience{
  &:before {
    content: fa-content($fa-var-star);
  }
}

.c-offer_icon--invoice{
  &:before {
    content: fa-content($fa-var-align-left);
  }
}

.c-offer_icon--termination{
  &:before {
    content: fa-content($fa-var-hand-paper);
  }
}

.c-offer_icon--warranty{
  &:before {
    content: fa-content($fa-var-bug);
  }
}
