/**
 * Projects Components
 * --------------------------------------------------
 */

.c-projects{

}

.c-project_github-icon{
  height: 40px;
  width: 40px;

  fill: black;
}

.c-project_math,
.c-project_chart{
  display: block;
}

// Math Exercises Builder
.c-project_math_content{
  border-radius: 10px;
  padding: 10px;
  width: 365px;

  background-color: #568DAC;
  color: #FFF;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
}

// Organograma Dinâmico
.c-project_chart .wrap-infos{
  border: 1px solid #000;
  padding: 5px;
  display: inline-block;
  border-radius: 5px;
  margin: 0 5px;
  height: 30px;
  width: 100px;
}

.c-project_chart .topo .wrap-infos{
  background-color: #D5FFEA;
}

.c-project_chart .branch .primeiro-filho .wrap-infos{
  background-color: #FFFFDD;
}

.c-project_chart .branch .lastchild .wrap-infos{
  background-color: #B7EBFF;
}

.c-project_chart .branch{
  padding-top: 30px;
  position: relative;
  width: 365px;
}

.c-project_chart li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
}

.c-project_chart .branch > li{
  padding: 30px 30px 0;
}

/*Conectores*/

.c-project_chart li> ul > li:before{
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #000;
  width: 50%;
  height: 30px;
}

.c-project_chart li > ul > li:after{
  content: '';

  position: absolute;
  top: 0;
  right: 50%;
  left: 50%;

  border-left: 1px solid #000;
  border-top: 1px solid #000; /* Borda problemáticaRenderizado como zero no IE8 */

  width: 50%;  /* Causador do bug da barra direita no IE8 */
  height: 30px;
}

/* Remoção do conector esquerdo do primeiro filho e conector direito do último */

.c-project_chart li:first-child:before{
  border: 0 none;
}

.c-project_chart .lastchild:after{
  border: 0 none;
}

/* Adicionar de volta o conector vertical para os últimos nós. */

.c-project_chart .lastchild:before{
  border-right: 1px solid #000;
  border-radius: 0 5px 0 0;
}

.c-project_chart li:first-child:after{
  border-radius: 5px 0 0 0;
}

/* Adcionar de volta conector dos pais */
.c-project_chart ul ul:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 50%;
  border-left: 1px solid #000;
  width: 0;
  height: 35px;
}

.c-project_chart_content{
  border: 1px solid #000;
  border-radius: 10px;
  height: 180px;
  width: 365px;

  background-color: #E9E9E9;
}

.c-project_chart_content > li {
  padding-top: 15px;
}

