/**
 * Projects Components
 * --------------------------------------------------
 */

.c-projects{

}

// Ícones
// ******************************

.c-project_github-icon{
  height: 40px;
  width: 40px;

  fill: black;
}

.c-project_link-icon{
  @include fa-icon;
  @extend .fas;

  color: black;

  &:before {
    content: fa-content($fa-var-external-link-alt);
  }
}

.c-project_mobile-icon{
  @include fa-icon;
  @extend .fas;

  color: black;

  &:before {
    content: fa-content($fa-var-mobile-alt);
  }
}

.c-project_desktop-icon{
  @include fa-icon;
  @extend .fas;

  color: black;

  &:before {
    content: fa-content($fa-var-desktop);
  }
}

.c-project{
  border-radius: 10px;
  height: 200px;
  max-width: 320px;
  padding: 10px;
}

// Projeto Email App
// ******************************
.c-project_email-app{
  background-color: #568DAC;
}

.c-project_email-app_content{
  @include fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-at);
  }

  width: 100%;

  font-size: 36px;
  line-height: 200px;
  text-align: center;
}

// Projeto Math Exercises Builder
// ******************************
.c-project_math{
  background-color: #568DAC;
}

.c-project_math_content{
  color: #FFF;
  font-size: 36px;
  line-height: 200px;
  text-align: center;
}

// Projeto Me Conheça
// ******************************
.c-project_meconheca{
  background-color: #568DAC;
}

.c-project_meconheca_content{
  @include fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-comment-alt);
  }

  width: 100%;

  font-size: 36px;
  line-height: 200px;
  text-align: center;
}

// Projeto Organograma Dinâmico
// ******************************
.c-project_chart{
  background-color: #E9E9E9;
}

.c-project_chart_content{
  @include fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-sitemap);
  }

  width: 100%;

  font-size: 36px;
  line-height: 200px;
  text-align: center;
}

