/**
 * Services Components
 * --------------------------------------------------
 */

.c-services{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.c-service{
  margin: 15px;

  &_logo-wrap{
    @include circle(180px);

    border: 2px solid #000;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_logo--mobile{
    height: 150px;
    width: 150px;

    background: transparent url(../images/icons/android-ios.png) 0 15px no-repeat;
    background-size: 100%;
  }

  &_logo--webapp{
    height: 115px;
    width: 100px;

    background: transparent url(../images/icons/web-application.png) 0 0 no-repeat;
    background-size: 100%;
  }
}
