.swiper-container {
  margin: 0 0 70px;
  padding-left: 30px;
  height: 640px;
  width: 320px;

  @include for-tablet-landscape-up{
    padding-left: 0;
  }

  &.swiper-container--center{
    margin: 0 auto 20px;
    padding-left: 0;

    @include for-tablet-landscape-up{
      margin: 0 0 70px;
      float: left;
    }
  }
}

.swiper-slide img{
  margin: 0 auto;
  width: 100%;
  display: block;
}
