.swiper-container {
  margin: 0 auto;
  height: 640px;
  width: 320px;

  @include for-tablet-landscape-up{
    margin: 0 0 70px;
    float: left;
  }
}

.swiper-slide img{
  margin: 0 auto;
  width: 100%;
  display: block;
}
