/**
 * About
 * --------------------------------------------------
 */

.m-about_content{
  margin: 0 auto;
  max-width: 800px;
}

.m-about_list {
  padding: 0 $distance-min-lateral;
  > li{
    list-style-type: circle;
  }
}
