.m-bottom{
  background-color: #404447;
}

.m-bottom_social-buttons{
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
}

.m-bottom-rights{
  color: white;
  text-align: center;
}

.m-bottom_section{
  padding: 40px 0;
}
