/**
 * Community Module
 * --------------------------------------------------
 */

.m-community{
  display: flex;
  justify-content: center;
}

.m-community-webdebgroup{
  width: 320px;

  display: block;

  img{
    width: 100%;
  }
}
