/**
 * Contacts Module
 * --------------------------------------------------
 */

.m-contacts_wrapper{
  display: flex;
  align-items: center;
  flex-flow: column;

  @include for-tablet-landscape-up{
    justify-content: center;
    flex-flow: row;
  }
}

.m-contact{
  margin-top: 25px;

  display: flex;
  align-items: center;
}

.m-contact_icon{
  height: 30px;

  &--email{
    width: 30px;
  }
}

.m-contact_text{
  padding-left: 10px;

  line-height: 1;

  &--email{
    color: #267cb5;

    font-size: 20px;
    text-decoration: underline;
    text-underline-position: under;
    font-weight: bold;
  }
}

// Whatsapp
.m-contact--box{
  border-radius: 4px;
  padding: 20px;
  width: 300px;


  display: flex;
  align-items: center;
  flex-direction: column;

  &_whatsapp{
    margin-bottom: 20px;
    background-color: #455a64;

    @include for-tablet-landscape-up{
      margin-bottom:0;
      margin-right: 20px;
    }

    &_data-text{
      color: white;
    }
  }

  &_email{
    background-color: #f2f2f2;

    &_data-text{
      color: #404040;
    }
  }

  &_data{
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_data-text{
    font-size: 20px;
    line-height: 1;
  }

  &_data-icon{
    height: 35px;
    margin-right: 10px;
    width: 35px;
  }
}
