/**
 * Freelancer Module
 * --------------------------------------------------
 */

.m-freelancer-photo{
  @include circle(150px);
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.m-freelancer-info{
  text-align: center;

  &_name{
    font-size: 60px;
  }

  &_job{
    font-size: 30px;
  }
}
