/**
 * Freelancer Module
 * --------------------------------------------------
 */

.m-freelancer{
  height: 500px;

  background: #164e81 url(/images/figures/banner.jpg) right no-repeat;
}

.m-freelancer-info{
  padding-top: 70px;

  color: white;
  &_name{
    margin-bottom: 10px;

    font-family: $font-stack-primary;
    font-size: 36px;
    font-weight: bold;
    @include for-tablet-portrait-up{
      font-size: 48px;
    }
  }
}

.m-freelancer-positioning{
  max-width: 800px;

  font-family: $font-stack-secundary;
  font-size: 18px;
  line-height: 36px;
  @include for-tablet-portrait-up{
    font-size: 22px;
  }
}
