.m-nav{
  height: 50px;
  width: 100%;

  position: fixed;
  z-index: 1;

  background-color: #164e81;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.m-nav-wrapper{
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include for-tablet-landscape-up{
    margin: 0 auto;
    max-width: 1200px;

    justify-content: normal;
  }
}

.m-nav_logo{
  height: 40px;
  padding-left: $distance-min-lateral;

  @include for-tablet-landscape-up{
    padding-left: 0;
  }
}

.m-nav_items {
  width: 100%;

  position: absolute;
  right: 0;
  top: 50px;

  background-color: #164e81;

  @include for-tablet-landscape-up{
    max-width: 1000px;

    display: block !important; // CSS Display Inline existente neste elemento.

    position: static;
  }
}

.m-nav_items-list {
  padding: 0 $distance-min-lateral;

  @include for-tablet-landscape-up{
    padding: 0;
    display: flex;
    justify-content: center;
  }
}

.m-nav_items-list li {
  @include for-tablet-landscape-up{
    margin-right: 1px;    
  }
}

.m-nav_items-list li a {
  border-top: 1px solid #727272;
  height: 40px;

  display:block;
  line-height: 40px;

  color: #fff;
  -webkit-tap-highlight-color: rgba(82,237,199,.5);

  cursor: pointer;

  @include for-tablet-landscape-up{
    &:hover {
      background: #52edc7;
    }

    border-top: 0;
    height: auto;
    padding: 0 1.5vw;

    text-align: center;
  }

  &::selection {
    background: transparent;
  }
}

// Mobile Only
// *************************************
.m-nav_mobile-top{
  padding-right: $distance-min-lateral;
  height: $nav-heigth-visible;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include for-tablet-landscape-up{
    display: none;
  }
}

.m-nav_menu-toggle{
  cursor: pointer;
  &--open{
    height: 40px;
    width: 40px;
  }

  &--close{
    height: 30px;
    width: 30px;
  }
}


