.m-nav{
  width: 100%;

  display: flex;
  align-items: flex-end;
  flex-direction: column;

  position: fixed;

  @include for-tablet-landscape-up{
    flex-direction: row;
    justify-content: center;
    align-items: normal;

    background:
      linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
      linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
      linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
      linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
      linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
      linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
  }
}

.m-nav_items {
  border: 1px solid #fff;
  padding: 0 $distance-min-lateral;
  max-width: 220px;
  width: 100%;

  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;

  @include for-tablet-landscape-up{
    border: none;
    padding: 0;
    max-width: 1000px;
    display: block !important; // CSS Display Inline existente neste elemento.
  }
}

.m-nav_items-list {
  @include for-tablet-landscape-up{
    display: flex;
  }
}

.m-nav_items-list li {
  &:first-child{
    margin-top: 1px;
  }

  margin-bottom: 1px;

  @include for-tablet-landscape-up{
    &:first-child{
      margin-top: 0;
    }

    margin-bottom: 0;
    margin-right: 1px;
    width: 16.666%;
  }
}

.m-nav_items-list li a {
  height: 50px;

  display:block;

  color: #fff;
  line-height: 50px;

  &::selection {
    background: transparent;
  }

  &:hover {
    background: #52edc7;
  }

  @include for-tablet-landscape-up{
    height: $nav-heigth-visible;

    text-align: center;
  }
}

// Mobile Only
// *************************************
.m-nav_mobile-top{
  padding: 0 $distance-min-lateral;
  height: $nav-heigth-visible;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;

  @include for-tablet-landscape-up{
    display: none;
  }
}

.m-nav_menu-toggle--open{
  height: 40px;
  width: 40px;
}

.m-nav_menu-toggle--close{
  height: 30px;
  width: 30px;
}
