/**
 * Offers Module
 * --------------------------------------------------
 */

.m-offers{
  background-color: #fff;
}

.m-offers_content{
  @include clearfix;
  padding: 0 $distance-min-lateral;
}

.m-offer{
  width: 100%;

  float: left;

  @include for-tablet-portrait-up{
    width: 50%;
  }
  @include for-tablet-landscape-up{
    width: 33%;
  }
  @include for-desktop-up{
    width: 25%;
  }
}

// Textos
// ***********************************************
.m-offer_title{
  height: 100px;
  padding-bottom: 25px;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.m-offer_informations{
  padding-bottom: 70px;

  text-align: center;
}

// Ícones
// ************************************************
.m-offer_icon-wrap{
  color: map_get($colors, dark);
  font-size: 40px;
  text-align: center;
}

.m-offer_icon{
  background:{
    position: 50% 0;
    repeat: no-repeat;
    size: 50px 50px;
  }
}

.m-offer_icon-attendance{
  background-image: url("../images/figures-svg.svg#icon-users");
}

.m-offer_icon-comments{
  background-image: url("../images/figures-svg.svg#icon-comments");
}

.m-offer_icon-delivery{
  background-image: url("../images/figures-svg.svg#icon-tasks");
}

.m-offer_icon-exclusivity{
  background-image: url("../images/figures-svg.svg#icon-crosshairs");
}

.m-offer_icon-experience{
  background-image: url("../images/figures-svg.svg#icon-star");
}

.m-offer_icon-invoice{
  background-image: url("../images/figures-svg.svg#icon-invoice");
}

.m-offer_icon-termination{
  background-image: url("../images/figures-svg.svg#icon-hand-paper");
}

.m-offer_icon-warranty{
  background-image: url("../images/figures-svg.svg#icon-bug");
}
