/**
 * Offers Module
 * --------------------------------------------------
 */

.m-offers{
  background-color: #f8f9fa;
}

.m-offers_content{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
  grid-gap: 50px;
}

.m-offer{
  padding: 0 $distance-min-lateral;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 30px;
  @include for-phone-only{
    margin-bottom: 50px;
  }

  &:last-child{
    @include for-phone-only {
      margin-bottom: 0;
    }
  }
}

.m-offer_icon{
  margin-bottom: 20px;
  height: 50px;
  width: 50px;
}

.m-offer_title{
  margin-bottom: 15px;

  text-align: center;
}

.m-offer_informations{
  max-width: 550px;
  margin: 0 auto;

  text-align: center;
}
