/**
 * Offers Module
 * --------------------------------------------------
 */

.m-offers{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.m-offer{
  margin: 30px;
  max-width: 300px
}

.m-offer_title{
  height: 100px;

  display: flex;
  align-items: flex-end;
}

.m-offer_icon-wrap{
  color: map_get($colors, dark);
  font-size: 40px;
  text-align: center;
}

.m-offer_icon{
  @include fa-icon;
  @extend .fas;
}

.c-icon-comments{
  background: transparent url("../images/figures-svg.svg#icon-comments") 50% 0 no-repeat;
  background-size: 60px 60px;
}

.m-offer_icon--attendance{
  &:before {
    content: fa-content($fa-var-users);
  }
}

.m-offer_icon--delivery{
  &:before {
    content: fa-content($fa-var-tasks);
  }
}

.m-offer_icon--exclusivity{
  &:before {
    content: fa-content($fa-var-crosshairs);
  }
}

.m-offer_icon--experience{
  &:before {
    content: fa-content($fa-var-star);
  }
}

.m-offer_icon--invoice{
  &:before {
    content: fa-content($fa-var-align-left);
  }
}

.m-offer_icon--termination{
  &:before {
    content: fa-content($fa-var-hand-paper);
  }
}

.m-offer_icon--warranty{
  &:before {
    content: fa-content($fa-var-bug);
  }
}
