/**
 * Projects Module
 * --------------------------------------------------
 */

$desktop-info-width: 65%;
$desktop-figure-width: 100% - $desktop-info-width;

.m-projects{
  background-color: #fff;
}

.m-project{
  &:first-child{
    margin-top: 0;
  }

  margin-top: 20px;
  padding: 50px $distance-min-lateral;

  color: white;
}

.m-project-wrapper{
  display: flex;
}

// Backgrounds
// ***************************************
.m-projects_wrapper .m-project{
  &:nth-child(1){
    $bgc: #568dac;
    background-color: $bgc;

    svg[class$="screen"]{
      background-color: lighten($bgc, 10%);
    }
  }
  &:nth-child(2){
    $bgc: #e2ac4c;
    background-color: $bgc;

    svg[class$="screen"]{
      background-color: lighten($bgc, 10%);
    }

  }
  &:nth-child(3){
    $bgc: #f77871;
    background-color: $bgc;

    svg[class$="screen"]{
      background-color: lighten($bgc, 10%);
    }

  }
  &:nth-child(4){
    $bgc: #a284c2;
    background-color: $bgc;

    svg[class$="screen"]{
      background-color: lighten($bgc, 10%);
    }

  }
  &:nth-child(5){
    $bgc: #404447;
    background-color: $bgc;

    svg[class$="screen"]{
      background-color: lighten($bgc, 10%);
    }
  }
}

// Imagem
// ***************************************
.m-project_figure {
  display: none;

  @include for-tablet-landscape-up {
    display: block;
    width: $desktop-figure-width;
  }
}

.m-project_figure--wrapper{
  margin: 0 auto;
  position: relative;
}

.m-project_figure--wrapper-laptop{
  width: 200px;

}

.m-project_figure--wrapper-phone{
  width: 90px;
}

.m-project_figure-laptop{
  height: 200px;
  width: 200px;
}

.m-project_figure-phone{
  height: 180px;
  width: 90px;
}

.m-project_figure-laptop-screen{
  padding: 19px 48px;
  height: 40px;
  width: 40px;

  position: absolute;
  top: 48px;
  left: 32px;
}

.m-project_figure-phone-screen{
  padding: 45px 17px;
  height: 40px;
  width: 40px;

  position: absolute;
  top: 21px;
  left: 8px;
}

// Informações
// ***************************************
.m-project_info{
  width: 100%;

  @include for-tablet-landscape-up{
    width: $desktop-info-width;
  }
}

.m-project_info-top{
  margin-bottom: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m-project_info-top_title{
  &:hover{
    color: inherit;
  }

  color: white;
  text-decoration: underline;
}

.m-project_info-top_title-text{
  padding-right: 15px;

  font-size: 24px;
  font-weight: bold;
  line-height: 1.4;
  text-transform: uppercase;
  text-underline-position: under;

  @include for-tablet-landscape-up{
    font-size: 28px;
  }
}

// Links
// ***************************************
.m-project_links{
  display: flex;
  align-items: center;
}

.m-project_link{
  padding: 0 15px;
}

.m-project_link-icon{
  height: 30px;
  width: 30px;
}

.m-project_link-text{
  color: #fff;
  text-decoration: underline;
  text-underline-position: under;
}

// Github
// ***************************************
.m-project_github{
  display: flex;
  align-items: center;
}

.m-project_github-icon{
  height: 30px;
  margin-right: 10px;
  width: 30px;
}


// Tags
// ***************************************
.m-project_info-tags{
  margin-bottom: 20px;

  display: flex;
  flex-wrap: wrap;

  text-transform: uppercase;
  opacity: .6;

  > li{
    margin-left: 30px;

    list-style-type: disc;

    &:first-child{
      list-style: none;
      margin-left: 0;
    }
  }
}

// Description
// ***************************************
.m-project_info-description{
  margin-bottom: 30px;
}

// Features
// ***************************************
.m-project_info-features{
  $border: 2px solid rgba(255,255,255,.5);

  >li{
    &:first-child{
      border-top: $border;
    }

    border-bottom: $border;
    padding: 10px 15px;
  }
}

