/**
 * Promo
 * --------------------------------------------------
 */

.m-promo{
  @include flex-centralize;
  padding: 20px 13px;

  background-color: #141414;
  color: #FFF;
}

.m-promo_title,
.m-promo_descr{
  line-height: 34px
}

.m-promo_title{
  color: red;
  font-size: 20px;
}

.m-promo_descr{
  margin-right: 8px;

  font-size: 20px;
}

.m-promo_prize{
  color: #dd0;
}

.m-promo_infos{
  display: flex;
  align-items: center;
}

.m-promo_open-modal{
  height: 22px;
  width: 22px;
  border-radius: 50%;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  background-color: #164e81;}
