/**
 * Projects Module
 * --------------------------------------------------
 */

.m-projects{
}

.m-project{
  padding: 70px 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  color: white;
}

.m-project_image{
  position: relative;
}

.m-project_info-title{
  margin-bottom: 15px;

  font-size: 36px;
  text-transform: uppercase;
}

.m-project_info-subtitle{
  margin-bottom: 20px;

  text-transform: uppercase;
  opacity: .6;
}

.m-project_info-description{
  margin-bottom: 25px;
}

.m-project_info-features{
  $border: 2px solid rgba(255,255,255,.5);

  >li:first-child{
    border-top: $border;
  }

  >li{
    border-bottom: $border;
    padding: 10px 15px;
  }
}

// Ícones
// ******************************
.m-project_icon-desktop{
  // desktop
}

.m-project_icon-github{

}

.m-project_icon-link{
  // external-link-alt
}

.m-project_icon-mobile{
  // mobile-alt
}

// Projeto Email App
// ******************************
.m-project_email-app{
  background-color: #568DAC;
}

.m-project_email-app_content{
  width: 100%;

  font-size: 36px;
  text-align: center;

  // at
}

// Projeto Math Exercises Builder
// ******************************
.m-math-project{
  background-color: #568DAC;
}

.m-math-project_image{
  height: 200px;
  width: 200px;

  background: transparent url("../images/figures-svg.svg#icon-desktop") no-repeat;
}

.m-math-project_image-inner{
  font-size: 36px;
  text-align: center;
}

// Projeto Me Conheça
// ******************************
.m-meconheca-project{
  background-color: #568DAC;
}

.m-meconheca-project_content{
  width: 100%;

  font-size: 36px;
  line-height: 200px;
  text-align: center;

  // icon comment-alt
}

// Projeto Organograma Dinâmico
// ******************************
.m-chart-project{
  background-color: #E9E9E9;
}

.m-chart-project_content{
  // icon sitemap
  width: 100%;

  font-size: 36px;
  line-height: 200px;
  text-align: center;
}

