/**
 * Promo
 * --------------------------------------------------
 */

.m-promo{
  @include flex-centralize;
  padding: 50px 13px;

  background-color: #141414;
  color: #FFF;
}

.m-promo_title,
.m-promo_open-modal{
  line-height: 1;
}

.m-promo_title{
  margin-bottom: 10px;

  color: red;
  font-weight: normal;
  text-transform: none;
}

.m-promo_descr{
  margin-bottom: 15px;

  text-align: center;
}

.m-promo_prize{
  color: #dd0;
  font-weight: normal;
}

.m-promo_infos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m-promo_open-modal{
  color: #2196F3;
  text-decoration: underline;
  font-size: 18px;
}
