/**
 * Technologies Module
 * --------------------------------------------------
 */

.m-technologies{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  svg{
    margin: 15px;
    padding: 10px;
    width: 200px;

    align-self: center;
  }
}
